/* Dimensions
============================================================================= */
@max-width: 1106px;
@large-breakpoint: 1106px;


/* Font sizes
============================================================================= */
// Calculate em's: (target size in pixels)/(browser base size (16px))/global size
@sText: 16/16*1em;
@sH1: 20/16/@sText;
@sH2: @sH1;
@sH3: 15/16/@sText;

@lText: 20/16*1em;
@lH1: 50/16/@lText;
@lH2: 35/16/@lText;
@lH3: @lH2;


/* Font families
============================================================================= */
@fBody: Helvetica Neue, Arial, sans-serif;
@fHeading: Helvetica Neue, Arial, sans-serif;


/* Colors
============================================================================= */
@default: #555;
@primary: #059;
@secondary: #f90;
