/* Dimensions
============================================================================= */

@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

@max-width: @screen-lg;
@grid-gutter-width: 30px;
@margin: @grid-gutter-width;

/* Font sizes
============================================================================= */

// Calculate em's: (target size in pixels)/(browser base size (16px))/global size
@sText: 16/16 + 0em;
@sH1: 30/16 + 0em;
@sH2: 20/16 + 0em;
@sH3: 20/16 + 0em;

@lText: 16/16 + 0em;
@lH1: 40/16 + 0em;
@lH2: 30/16 + 0em;
@lH3: 20/16 + 0em;


/* Font families
============================================================================= */

@fBody: Helvetica Neue, Arial, sans-serif;
@fHeading: Helvetica Neue, Arial, sans-serif;


/* Colors
============================================================================= */

@default: #555;
@primary: gold;
@secondary: #f90;
@white: #fff;
@black: #000;
@gray: #333;
