body {
  background-color: @almost-white;
  font: @sText @fBody;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @fHeading;
  font-weight: normal;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: @sH1;
}

h2 {
  font-size: @sH2;
}

h3 {
  font-size: @sH3;
}


/* Header
============================================================================= */

.head {
  background-color: @gray;

  .topnav {
    .logo {
      background: url("img/logo.png") center center no-repeat;
      background-size: 100%;
      float: left;
      height: 41px;
      width: 24px;
      margin: 5px 0 5px;
      overflow: hidden;
      text-indent: 900px;
      line-height: 41px;
    }

    .menu {
      display: none;
      margin: 0;
      padding: 0;
      clear: both;
      list-style: none;

      li {
        padding: 0;

        a {
          border-bottom: 1px solid;
          display: block;
          padding: 15px 20px 10px 0;
          color: @white;
          text-decoration: none;
        }

        &.current-menu-item a,
        a:hover {
          color: @primary;
        }

        &:last-child a {
          border-bottom: 0;
        }
      }
    }

    // Show menu when toggled
    .menu-toggle:checked ~ div > .menu {
      display: block;
    }

    .menu-toggle {
      display: none;
    }

    .menu-toggle-label {
      background: @primary;
      box-shadow:
        0 0.40em 0 0 @primary,
        0 .8em 0 0 @primary;
      width: 1em;
      height: 0.20em;
      margin: 17px 0 0;
      float: right;
      position: relative;
      cursor: pointer;

      // Hack to make the whole area clickable
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 16px;
      }
    }
  }

  .super-header {
    background-size: 100% auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top: 1px solid fade(@white, 40%);
    border-bottom: 1px solid fade(@black, 40%);
    height: 0;
    padding-bottom: 50%;
    position: relative;

    h1 {
      max-width: 50%;
      margin-top: 0;
      margin-left: 20px;
      position: absolute;
      top: 10%;
      font-family: Clarendon, serif;
      line-height: 1.1;
      text-shadow: 3px 3px 0 #fff, 2px 2px 10px #fff;
      font-size: 2.2em;
      text-transform: uppercase;
      font-weight: 900;
    }
  }
}

/* Main
============================================================================= */

.main {
  background: @white;
  padding: 40px 20px 40px;
}


/* hentry
============================================================================= */

.hentry {
  margin-bottom: 40px;

  header {
    .title {
      margin-top: 0;
      margin-bottom: 0.3em;
    }

    p {
      margin: 0;
    }

    a {
      color: @gray;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .when {
      background: @almost-white;
      padding: 5px 10px 3px;
    }
  }

  img {
    max-width: 100%;
  }

  .content {
    ol {
      counter-reset: ol;

      li {
        list-style: none;
        position: relative;

        &:before {
          content: counter(ol);
          counter-increment: ol;
          position: absolute;
          left: -18px;
          font-family: @fHeading;
        }
      }

      ol {
        counter-reset: olol; //## is this correct?
        li:before {
          content: counter(olol);
          counter-increment: olol;
        }
      }
    }
  }

  footer {

  }
}



/* Sidebar
============================================================================= */

.sidebar {
  aside {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }
  }
}


/* Events
============================================================================= */

.events {
  .title {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0;
    }

    .hentry {
      margin-bottom: 0;

      header {
        .title {
          line-height: 1.3;
          margin-bottom: 11px;
        }

        .when {
          background-color: @primary;
          float: right;
          clear: right;
          font-size: .6em;
          line-height: 23px;
          text-align: right;
        }
      }
    }
  }
}


/* Slideshow
============================================================================= */

#lighty-bg {
  background: rgba(0,0,0,0.85);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  // Spinner
  &::after {
    content: "";
    border-width: 6px;
    border-style: solid;
    border-color: fade(@primary, 80%) fade(@primary, 15%) fade(@primary, 15%);
    border-radius: 100%;

    height: 60px;
    width: 60px;
    margin-top: -30px;

    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
  }
}

#lighty-container {
  margin: @grid-gutter-width/2;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .next,
  .prev {
    border-style: solid;
    position: absolute;
    bottom: 10%;
    z-index: 1;
  }

  .prev {
    border-color: transparent fade(@white, 50%) transparent transparent;
    border-width: 30px 30px 30px 0;
    left: 30px;
  }

  .next {
    border-color: transparent transparent transparent fade(@white, 50%);
    border-width: 30px 0 30px 30px;
    right: 30px;
  }
}


/* Footer
============================================================================= */

.foot {
  background-color: @gray;
  padding: 20px 10px 15px;
  margin-top: @grid-gutter-width;
  color: @white;

  a {
    margin-left: 10px;
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  .contact {
    float: left;
  }

  .credits {
    float: right;
    text-align: right;
    font-style: italic;
  }
}

.global-width {
  margin: 0;
}
